<div class="overflow">
  <!--linear gradient second content-->
<div class="row mt-5 p-5 bg">
  <div class="col-sm-6 mb-3">
    <div class="row">
    <div class="col text-center">
      <i class="fas fa-shield-alt"></i>
      <p class="lead">PRIVATE & CONFIDENTIAL</p>
    </div>
    <div class="col text-center">
      <i class="fas fa-user-secret"></i>
      <p class="lead">ANONYMOUS DISCUSSIONS</p>
    </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3">
    <div class="row">
    <div class="col text-center">
      <i class="far fa-clock"></i>
      <p class="lead">24X7 ROUND THE CLOCK</p>
    </div>
    <div class="col text-center">
      <i class="fas fa-laptop"></i>
      <p class="lead">CONDUCTED OVER 25 LAKHS+ SESSIONS</p>
    </div>
    </div>
  </div>
</div>

<!-- third content -->
<div class="text-center display-4 mt-4">Three steps YourDOST can help you</div>
<div class="row g-3 p-4 mx-3 text-center">
  <div class="col-sm-6 col-md-12 col-lg-4">
    <div class="row">
    <div class="col col-sm-12">
    <img src="https://ey5me.csb.app/happy.svg" class="img-fluid">
    </div>
     <div class="col col-sm-12 m-3">
       <div class="row">
         <div class="col-4 text-end">
       <span class="text-secondary display-4 p-1">1</span>
       </div>
       <div class="col-7 text-start">
       <span class="text-info h4">Connect with your Expert</span>
       </div>
       </div>
       <p>Chat anonymously with a YourDOST expert who's here to help you and not judge you.</p>
     </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-12 col-lg-4">
    <div class="row">
    <div class="col col-sm-12">
    <img src="https://ey5me.csb.app/happy.svg" class="img-fluid">
    </div>
     <div class="col col-sm-12 m-3">
       <div class="row">
         <div class="col-4 text-end">
       <span class="text-secondary display-4 p-1">2</span>
       </div>
       <div class="col-6 text-start">
       <span class="text-info h4">Discuss your Concerns</span>
       </div>
       </div>
       <p>Open up to your Expert in a space where you get the guidance you need, and your concerns get the attention they deserve.</p>
     </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-12 col-lg-4">
    <div class="row">
    <div class="col col-sm-12">
    <img src="https://ey5me.csb.app/happy.svg" class="img-fluid">
    </div>
     <div class="col col-sm-12 m-3">
       <div class="row">
         <div class="col-4 text-end">
       <span class="text-secondary display-4 p-1">3</span>
       </div>
       <div class="col-6 text-start">
       <span class="text-info h4">Unleash a Better You</span>
       </div>
       </div>
       <p>With 24X7 support from our experts, bid goodbye to your old self and be on your way to becoming a better you.</p>
     </div>
    </div>
  </div>
</div>

<!--fourth content-->
<div class="p-5">
<div class="card-group shadow-lg">
  <div class="card px-3 py-5">
    <div class="row">
    <div class="col-3 text-end">
    <i class="fas fa-sms"></i>
    </div>
    <div class="col-9">
      <h3 class="text-primary">Online Chat Sessions</h3>
      <p>Chat anonymously with an expert of your choice. This service is available to you anytime, anywhere.</p>
    </div>
    </div>
  </div>
  <div class="card px-3 py-5">
    <div class="row">
    <div class="col-3 text-end">
    <i class="fas fa-sms"></i>
    </div>
    <div class="col-9">
      <h3 class="text-primary">Online Chat Sessions</h3>
      <p>Chat anonymously with an expert of your choice. This service is available to you anytime, anywhere.</p>
    </div>
    </div>
  </div>
  <div class="card px-3 py-5">
    <div class="row">
    <div class="col-3 text-end">
    <i class="fas fa-sms"></i>
    </div>
    <div class="col-9">
      <h3 class="text-primary">Online Chat Sessions</h3>
      <p>Chat anonymously with an expert of your choice. This service is available to you anytime, anywhere.</p>
    </div>
    </div>
  </div>
  </div>
  </div>


</div>