i{
    font-size:47px;
    color:palevioletred;
}
.bg{
    background:linear-gradient(lightgray,lightgray,white);
}
.overflow{
    overflow-x:hidden;
}

.lead{
    font-size:16px;
    margin:3px;
}
.card:hover{
    background-color: beige;
}
 
@media screen and (max-width: 600px) {
    .card{
      border:none;
    }
  }